body {
    background: #333;
}
.box {
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
    top: 200px;
    transition-duration: 1s;
    transition-property: background, border-radius, transform;
    transition-timing-function: linear;
}

.box:hover {
    background-color: red;
    border-radius: 50%;
    transform: rotateY(180deg);
}